<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2022</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Bachelor of Engineering</div>
               <h4 class="category">SMT. KAshibai Navale College of Engineering, Pune
               </h4>
               <ul>
                <li>SMT. Kashibai Navale College of Engineering, Pune Institute is NAAC Accredited with Grade- “A” in Pune </li>
                    <li>Completed B.E in Computer Engineering with <b>9.54 CGPA</b>.</li>
                
                 <li>Maintained above <b>9.1 spi</b> in every semester of college academic .</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2019</p>
              <div class="h5">Diploma</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Diploma</div>
               <h4 class="category">Government Polytechnic, Pune
               </h4>
               <ul>
                <li>
                  Government Polytechnic, Pune, an autonomous institute of Government of Maharashtra is established in the year 1957.
                                  </li>
                                  <li>
                                    The institute offers Diploma programs including After 10th and UG courses in full-time and part-time mode which are approved by AICTE.
                                  </li>
                                  <li>
                                      Completed my Diploma with<b> 81.00%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015 - 2016</p>
              <div class="h5">Sedcondary School</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Secondary School</div>
               <h4 class="category">Tatyasaheb Khanderao Sonawane Vidyalaya, Nirvi
               </h4>
               <ul>
                <li>The Secondary aims at Maths , English , Science, Social Science and Languages.
                </li>
               
                <li>
                    Completed my Secondary school with <b>87.80%</b>.
                </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>